.global-404{
  &__main{
    position: relative;
    &::after{
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}