.blog-post{
  &__main{
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #e5e8ed;
    box-shadow: 0 2px 4px 0 rgba(3,27,78,.06);
    border-radius: 2px;
    line-height: 1.9;

    section img{
      max-width: 100%;
      display: block;
      height: auto;
    }

    blockquote{
      padding: 0 1em;
      color: #6a737d;
      border-left: #dfe2e5 solid .25em;
      margin-left: 0;
      margin-right: 0;
    }

    table{
      border: 1px solid #cfd5de;
      border-spacing: 0;
      th,td{
        padding: 10px;
        line-height: 30px;
        border-bottom: 1px solid #cfd5de;
        border-right: 1px solid #e7eaef;
        &:last-child{
          border-right: none;
        }
      }
      thead tr{
        font-weight: 500;
      }
      tbody{
        tr{
          &:last-child{
            td{
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  &__header{
    margin-bottom: 30px;
  }

  &__title{
    margin-bottom: 10px;
  }

  &__date{
    color: #999;
    margin: 0;
  }

  &__nav{
    margin-top: 50px;
    padding-top: 20px;
    border-top: solid 1px rgb(229,232,237, .8);
  }

  &__nav-title{
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    &:hover{
      .title{
        color: #00A4FF;
      }
    }
  }

  &__footer{
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px){
  .blog-post{
    &__nav{
      .tea-justify-grid{
        display: block;
      }
      .tea-justify-grid__col{
        display: block;
        width: 100%;
        & + .tea-justify-grid__col{
          margin-top: 15px;
        }
      }
    }
  }
}