.global-header{
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  font-size: 0;
  padding: 6px 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;

  &__logo{
    width: 54px;
    height: 54px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }

  &__title{
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    color: #000;
  }

  &__link{
    display: inline-block;
  }

  &__social-media{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
  }

  &--gap{
    height: 96px;
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  .global-header{
    &--gap{
      height: 80px;
    }
  }
}