body, html{
  background-color: #f2f2f2;
}

a{
  color: #00A4FF;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.global-container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.global-loading{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  &::after{
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &>div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
